h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px solid black;
}

body {
  background: #964B00;
}
.container {
  word-wrap: break-word;
  display: block;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
}

p {
display: block;
  position: absolute;
  text-align: center; 
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container .claws {
  position: relative;
  left: 10%;
  transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .legs {
  position: relative;
  left: 40%;
  transform: translate(-50%, -300%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .mouth {
  position: relative;
  left: 62%;
  transform: translate(-50%, -460%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .body {
  position: relative;
  left: 0%;
  transform: translate(-50%, -700%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .snout {
  position: relative;
  left: 32%;
  transform: translate(-50%, -570%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .home {
  position: fixed;
  top: 3%;
  left: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}

.container .claws:hover {
  background-color: black;
  border: 2px solid #555555;
}
.container .legs:hover {
  background-color: black;
    border: 2px solid #555555;
}
.container .mouth:hover {
  background-color: black;
    border: 2px solid #555555;
}
.container .body:hover {
  background-color: black;
    border: 2px solid #555555;
}
.container .snout:hover {
  background-color: black;
    border: 2px solid #555555;
}


.container .home:hover {
  background-color:black;
  color: white;
  border: 2px solid white;
}
