h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-family: monospace;
}
div {
  margin-left: auto;
  margin-right: auto;
}
img {
  border:2px solid black;
  border-radius: 20px;
}

.column {
  float: center;
  width: 35%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: lightblue;
}
