h1 {
  text-align:center
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

h3{
  text-align: center;
  font-family: monospace;
}
div {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.column {
  float: center;
  width: 35%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body{
  background-color:lightblue
}
